<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
  <meta charset="UTF-8">
  <style>
    .footer {
      background: linear-gradient(90deg, #4b48a5, #6e04e7, #37039e);
      text-align: center;
      padding: 15px;
      font-size: 14px;
      color: white;
      margin-top: 30px;
      border-top: 2px solid #ffe5ec;
    }
    .footer span {
      font-weight: bold;
    }
  </style>
</head>
<body>
  <div class="footer">
    <p>© <span>شهاداتك بين يديك</span> - جميع الحقوق محفوظة 2025 🌷</p>
  </div>
</body>
</html>
